/* cargoStatusPage.css */

.cargo-status-container {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 8px;
}
.deailts-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.cargo-status-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    color: #333;
}

.cargo-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.cargo-detail-item {
    margin-bottom: 10px;
}

.cargo-detail-label {
    margin-right: 0.5rem;
    font-weight: bold;
    color: #555;
}

.cargo-detail-value {
    color: #a03333;
}
.btn-status {
    color: white;
}
